
<div>
    <h2><span translate="jhipsterI18NApp.resourceBundle.detail.title">Resource Bundle</span> {{vm.resourceBundle.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="jhipsterI18NApp.resourceBundle.resourceBundleName">Resource Bundle Name</span></dt>
        <dd>
            <span>{{vm.resourceBundle.resourceBundleName}}</span>
        </dd>
        <dt><span translate="jhipsterI18NApp.resourceBundle.description">Description</span></dt>
        <dd>
            <span>{{vm.resourceBundle.description}}</span>
        </dd>
        <dt><span translate="jhipsterI18NApp.resourceBundle.status">Status</span></dt>
        <dd>
            <span translate="{{'jhipsterI18NApp.ResourceBundleStatus.' + vm.resourceBundle.status}}">{{vm.resourceBundle.status}}</span>
        </dd>
        <dt><span translate="jhipsterI18NApp.resourceBundle.locale">Locale</span></dt>
        <dd ng-init="locale=vm.resourceBundle.locale">
            <a ui-sref="locale-detail({id:locale.id})">{{locale.id}}</a>, {{ vm.printLocale(locale) }}
        </dd>
        <dt><span translate="jhipsterI18NApp.resourceBundle.module">Module</span></dt>
        <dd ng-init="module=vm.resourceBundle.module">
            <a ui-sref="module-detail({id:module.id})">{{module.id}}</a>, {{module.name}}
        </dd>
    </dl>

    <div class="table-responsive form-group">
        <label translate="" >Key Value list</label>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Key Id</a>
                </th>
                <th>
                    <a href="" ng-click="orderByField='propertyValue'; reverseSort = !reverseSort">Key</a>
                </th>
                <th>Value</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="keyValue in vm.keyValues | orderBy:orderByField:reverseSort" ng-init="keyValue.isEditing=false">
                <td>
                    {{keyValue.id}}
                </td>
                <td>
                    {{keyValue.property}}
                </td>
                <td>
                    {{keyValue.propertyValue}}
                </td>
                <td>
                    {{keyValue.description}}
                </td>
            </tr>
            </tbody>

        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
