
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResourceBundleLabel" translate="jhipsterI18NApp.resourceBundle.home.createOrEditLabel">Create or edit a Resource Bundle</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resourceBundle.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resourceBundle.id" readonly />
        </div>
        <div class="form-group required">
            <label class="control-label" translate="jhipsterI18NApp.resourceBundle.resourceBundleName" for="field_resourceBundleName">Resource Bundle Name</label>
            <input type="text" class="form-control" name="resourceBundleName" id="field_resourceBundleName"
                    ng-model="vm.resourceBundle.resourceBundleName" required />
            <div ng-show="editForm.resourceBundleName.$invalid">
                <p class="help-block"
                   ng-show="editForm.resourceBundleName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterI18NApp.resourceBundle.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.resourceBundle.description"
                    ng-maxlength="100" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label" translate="jhipsterI18NApp.resourceBundle.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.resourceBundle.status" id="field_status" required>
                <option value="DISABLED" translate="jhipsterI18NApp.ResourceBundleStatus.DISABLED">DISABLED</option>
                <option value="STATIC_JSON" translate="jhipsterI18NApp.ResourceBundleStatus.STATIC_JSON">STATIC_JSON</option>
                <option value="DB_JSON" translate="jhipsterI18NApp.ResourceBundleStatus.DB_JSON">DB_JSON</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                   ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group required">
            <label translate="jhipsterI18NApp.resourceBundle.locale" for="field_locale">Locale</label>
            <select class="form-control" id="field_locale" name="locale" ng-model="vm.resourceBundle.locale" required
                    ng-options="locale as locale.name for locale in vm.locales track by locale.name">
                <option value=""></option>
            </select>
            <div ng-show="editForm.locale.$invalid">
                <p class="help-block"
                   ng-show="editForm.locale.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group required">
            <label translate="jhipsterI18NApp.resourceBundle.module" for="field_module">Module</label>
            <select class="form-control" id="field_module" name="module" ng-model="vm.resourceBundle.module" required
                    ng-options="module as module.name for module in vm.modules track by module.name">
                <option value=""></option>
            </select>
            <div ng-show="editForm.module.$invalid">
                <p class="help-block"
                   ng-show="editForm.module.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
