
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResourceBundleLabel" translate="jhipsterI18NApp.resourceBundle.home.createOrEditLabel">Create or edit a Resource Bundle</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resourceBundle.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resourceBundle.id" readonly />
        </div>
        <div class="form-group required">
            <label class="control-label" translate="jhipsterI18NApp.resourceBundle.resourceBundleName" for="field_resourceBundleName">Resource Bundle Name</label>
            <input type="text" class="form-control" name="resourceBundleName" id="field_resourceBundleName"
                    ng-model="vm.resourceBundle.resourceBundleName" required />
            <div ng-show="editForm.resourceBundleName.$invalid">
                <p class="help-block"
                   ng-show="editForm.resourceBundleName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterI18NApp.resourceBundle.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.resourceBundle.description"
                    ng-maxlength="100" />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group required">
            <label class="control-label" translate="jhipsterI18NApp.resourceBundle.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.resourceBundle.status" id="field_status" required>
                <option value="DISABLED" translate="jhipsterI18NApp.ResourceBundleStatus.DISABLED">DISABLED</option>
                <option value="STATIC_JSON" translate="jhipsterI18NApp.ResourceBundleStatus.STATIC_JSON">STATIC_JSON</option>
                <option value="DB_JSON" translate="jhipsterI18NApp.ResourceBundleStatus.DB_JSON">DB_JSON</option>
            </select>
            <div ng-show="editForm.status.$invalid">
                <p class="help-block"
                   ng-show="editForm.status.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group required">
            <label translate="jhipsterI18NApp.resourceBundle.locale" for="field_locale">Locale</label>

            <div ng-if="vm.resourceBundle.id == null">
                <select class="form-control" id="field_locale" name="locale" ng-model="vm.resourceBundle.locale" required
                        ng-options="locale as locale.name for locale in vm.locales track by locale.name">
                    <option value=""></option>
                </select>
                <div ng-show="editForm.locale.$invalid">
                    <p class="help-block"
                       ng-show="editForm.locale.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div ng-if="vm.resourceBundle.id != null">
                <input type="text" class="form-control" id="field_locale" name="locale"
                       ng-model="vm.resourceBundle.locale.name" readonly />
            </div>

        </div>

        <div class="form-group required">
            <label translate="jhipsterI18NApp.resourceBundle.module" for="field_module">Module</label>

            <div ng-if="vm.resourceBundle.id == null">
                <select class="form-control" id="field_module" name="module" ng-model="vm.resourceBundle.module" required
                        ng-options="module as module.name for module in vm.modules track by module.name">
                    <option value=""></option>
                </select>
                <div ng-show="editForm.module.$invalid">
                    <p class="help-block"
                       ng-show="editForm.module.$error.required" translate="entity.validation.required">
                        This field is required.
                    </p>
                </div>
            </div>
            <div ng-if="vm.resourceBundle.id != null">
                <input type="text" class="form-control" id="field_module" name="module"
                       ng-model="vm.resourceBundle.module.name" readonly />
            </div>

        </div>

        <hr class="" />

        <div class="table-responsive form-group">
            <label translate="" >Key Value list</label>
            <div class="form-group flex-row-start" ng-if="vm.resourceBundle.id != null">
                <button type="button" class="btn btn-primary" ng-click="vm.addKeyValueRow()" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="jhipsterI18NApp.resourceBundle.home.keyValue.createLabel">
                         Create a Key Value
                    </span>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-primary" ng-click="vm.clearKeyValueCache()" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs">
                         Clear Cache
                    </span>
                </button>
            </div>

            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                        <th><a href="" ng-click="orderByField='id'; reverseSort = !reverseSort">Key Id</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='propertyValue'; reverseSort = !reverseSort">Key</a>
                        </th>
                        <th>Value</th>
                        <th>Description</th>
                        <th class="col-md-2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="keyValue in vm.keyValues | orderBy:orderByField:reverseSort"
                        ng-init="keyValue.isEditing = false; keyValue.saveBtnClicked = false" >
                        <td>
                            {{keyValue.id}}
                        </td>
                        <td>
                            <div class="form-group required" ng-class="{'has-error': keyValue.saveBtnClicked && !keyValue.property}" >
                                    <textarea type="text" class="form-control" ng-disabled="!keyValue.isEditing"
                                              ng-model="keyValue.property" required/>
                            </div>

                        </td>
                        <td>
                            <div class="form-group required" ng-class="{'has-error': keyValue.saveBtnClicked && !keyValue.propertyValue}" >
                                    <textarea type="text" class="form-control" ng-disabled="!keyValue.isEditing"
                                              ng-model="keyValue.propertyValue" required/>
                            </div>
                        </td>
                        <td>
                                <textarea type="text" class="form-control" ng-disabled="!keyValue.isEditing"
                                          ng-model="keyValue.description" />
                        </td>

                        <td class="text-center">
                            <div class="flex-row-space-around">

                                <button type="button" class="btn btn-primary btn-sm" ng-show="!keyValue.isEditing"
                                        ng-click="keyValue.isEditing=true;">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.edit">Edit</span>
                                </button>

                                &nbsp;
                                <button type="button" class="btn btn-primary btn-sm" ng-show="keyValue.isEditing">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.save">Save</span>
                                </button>

                                &nbsp;
                                <button type="button" class="btn btn-danger btn-sm" ng-show="keyValue.isEditing && keyValue.id">

                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.delete">Delete</span>
                                </button>

                                <button type="button" class="btn btn-danger btn-sm" ng-show="keyValue.isEditing && !keyValue.id"
                                        ng-click = "vm.removeKeyValueRow( keyValue )" >
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.delete">Delete</span>
                                </button>

                                &nbsp;

                                <button type="button" class="btn btn-default btn-sm" ng-show="keyValue.isEditing"
                                        ng-click="keyValue.isEditing=false;" >
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                    <span class="hidden-xs hidden-sm" translate="entity.action.cancel">Cancel</span>
                                </button>

                            </div>
                        </td>

                    </tr>
                </tbody>

            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>

<style type="text/css">
    .app-modal-window .modal-dialog {
        width: 80% !important;
    }

    textarea {
        resize: none;
    }
</style>
