
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myKeyValueLabel" translate="jhipsterI18NApp.keyValue.home.createOrEditLabel">Create or edit a Key Value</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.keyValue.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.keyValue.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterI18NApp.keyValue.property" for="field_property">Property</label>
            <input type="text" class="form-control" name="property" id="field_property"
                    ng-model="vm.keyValue.property"
                    required />
            <div ng-show="editForm.property.$invalid">
                <p class="help-block"
                    ng-show="editForm.property.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterI18NApp.keyValue.propertyValue" for="field_propertyValue">Property Value</label>
            <input type="text" class="form-control" name="propertyValue" id="field_propertyValue"
                    ng-model="vm.keyValue.propertyValue"
                    required />
            <div ng-show="editForm.propertyValue.$invalid">
                <p class="help-block"
                    ng-show="editForm.propertyValue.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jhipsterI18NApp.keyValue.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.keyValue.description"
                     />
        </div>

        <div class="form-group">
            <label translate="jhipsterI18NApp.keyValue.resourceBundle" for="field_resourceBundle">Resource Bundle</label>
            <select class="form-control" id="field_resourceBundle" name="resourceBundle" ng-model="vm.keyValue.resourceBundle" ng-options="resourceBundle as resourceBundle.id for resourceBundle in vm.resourcebundles track by resourceBundle.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
